{% extends 'index.html' %}

{% block title%}
Noticia: {{noticia.titulo}}
{% endblock %}

{% block contenido %}

    <div>
        <h2>{{ noticia.titulo }}</h2>
        <p>{{ noticia.descripcion }}</p>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{MEDIA_URL}}{{noticia.foto1.url}}" class = "img-responsive" width = "100%"  alt="...">
            </div>
            {% if noticia.foto2 %}
            <div class="carousel-item">
                <img src="{{MEDIA_URL}}{{noticia.foto2.url}}" class="d-block w-100 img-alt" alt="...">
            </div>
            {% endif %}            
            {% if noticia.foto3 %}
            <div class="carousel-item">
                <img src="{{MEDIA_URL}}{{noticia.foto3.url}}" class="d-block w-100 img-alt" alt="...">
            </div>
            {% endif %}
            {% if noticia.foto4 %}
            <div class="carousel-item">
                <img src="{{MEDIA_URL}}{{noticia.foto4.url}}" class="d-block w-100 img-alt" alt="...">
            </div>
            {% endif %}
            {% if noticia.foto5 %}
            <div class="carousel-item">
                <img src="{{MEDIA_URL}}{{noticia.foto5.url}}" class="d-block w-100 img-alt" alt="...">
            </div>
            {% endif %}
           
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>       
        </div>
    </div>
    </div>

{% endblock contenido %}