li a {
    color: green;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: rgb(165, 163, 163);
    }
    main{
        margin-top: 7vh;
    }
    button{
        margin: 0 auto;
    }
    a{
        color: white;
        text-decoration: none;
    }
    h2,p{
        text-align: center;
    }
    div{
        width: 50vw;
        margin: 0 auto;
        background-color: white;
    }
    .img-alt{
        height: 400px;
        
    }
    